<%
  tasks = Task.all
%>

<table>
  <thead>
    <th>id</th>
    <th>task</th>
    <th>start</th>
    <th>end</th>
    <th>message</th>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.task %></td>
        <td><%= format_time task.start_at %></td>
        <td><%= format_time task.end_at %></td>
        <td><%= task.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
